body {background-image: url(/images/blueCity.jpg);
	  background-position:top center;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	  }
html body {font-family:Helvetica, Arial, sans-serif;}


#header {
	background: rgba(256,256,256,0.6);
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 110px;
	width: 100%;
	display: block;
}
#header .logo{
	text-align:center;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	font-size: 32px;
	width: 33%;
	position:relative;
}
#header .logo a {
	text-decoration: none;
	color: black;
}

#Menu {text-decoration: none;
		text-align: center;}

#Menu li {
	display:inline-table;
	color:black;
	font-size:20px;
	font-style: bold;
	padding: 10px 5px;
	width:15%;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}
#Menu li:hover, #Menu li a:hover{
	background-color: rgba(7,7,7,0.8);
	color:white;
	cursor: pointer;
}

.container {
	padding-top: 165px;
	display: block;
	text-align: center;
	height: 70%;
}
.title, .description{
	color: white;
}
.loginBox {
	background: white;
	display: block;
	min-height: 1px;
	width: 60%;
	text-align:center;
	margin-left: 20%;
	padding: 0;
}
.loginButton, .registerButton, .forgotButton, .cancelButton {
	margin-top: 8px;
}

.forgotPassword {
	margin-left: 8px;
}
.portfolioList {
	padding: 0;
}
.portfolioList li {
	display: inline-block;
	width: 48%;
	margin-top: 5px;
}
.portfolioList a {
	text-decoration: none;
}

.pageTitle {
	color: white;
}

.deleteUserForm {
	width: none;
	display:inline-block;
}
.blogContainer {
	background: rgba(240,240,240, 0.6);
	width: 75%;
}
.blog {
	min-height: 20px;
	width: 100%;
	margin-bottom: 5px;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.blogTitle {
	font-size: 20px;
}
.blogTitle a {
	text-decoration: none;
	cursor:pointer;
}
.blog .body {
	text-align: left;
}

#artCarousel {
	text-align: center;
}
#artCarousel .carousel-indicators {
	bottom: -125px;
}
#artCarousel .carousel-inner {
	height: 75%;
	max-height: 500px;
	text-align: center;
}
#artCarousel .carousel-inner .item {
	height:500px;
}

#artCarousel .carousel-inner img {
	height: 100%;
	margin: 0 auto;
}